:root {
  --primary: #10a1fb;
  --light-grey: #e8e8e88b;
  --main-text: #3e3e3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  color: var(--main-text);
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  padding-block: 1rem;
  font-weight: 400;
  font-size: 36px;
}

.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr 100px;
  grid-template-areas:
    "sd main main"
    "footer footer footer";
  font-size: 20px;
  gap: 2rem;
  min-height: 89vh;
}

.sidebar {
  grid-area: sd;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  padding: 0px;
}

.sidebar ul a {
  color: var(--primary);
  text-decoration: none;
}

.sidebar ul li {
  padding: 0.5rem 0rem;
  list-style: none;
}

.sidebar .btn {
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 1rem;
}

#follow-btn {
  background-color: var(--primary);
  color: white;
}

#sub-btn {
  background-color: white;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.main {
  grid-area: main;
}

.main-title {
  color: var(--main-text);
  margin-bottom: 2rem;
  padding: 0.5rem 0rem;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.post {
  background-color: var(--light-grey);
  padding: 1rem;
  border-radius: 5px;
  transition: scale ease-in-out 0.12s;
  text-decoration: none;
}

.post h3 {
  color: var(--primary);
  margin-bottom: 2rem;
}

.post p {
  color: var(--main-text);
}

.post:hover {
  cursor: pointer;
  scale: 1.04;
}

.footer {
  grid-area: footer;
  background-color: var(--main-text);
  border-radius: 5px;
  padding: 1rem;
  color: white;
}
